<h1>Listing post_receive_hooks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Repository</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post_receive_hooks.each do |post_receive_hook| %>
  <tr>
    <td><%= post_receive_hook.name %></td>
    <td><%= post_receive_hook.repository %></td>
    <td><%= post_receive_hook.url %></td>
    <td><%= link_to 'Show', post_receive_hook %></td>
    <td><%= link_to 'Edit', edit_post_receive_hook_path(post_receive_hook) %></td>
    <td><%= link_to 'Destroy', post_receive_hook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post receive hook', new_post_receive_hook_path %>
