<h2><%= l(:label_post_receive_hook_plural) %></h2>

<% if @post_receive_hooks.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

  <div class="autoscroll">
    <table class="list entries" id="browser">
      <thead>
        <tr id="root">
          <th><%= l(:field_name) %></th>
          <th><%= l(:field_url) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @post_receive_hooks %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to l(:label_post_receive_hook_new), new_post_receive_hook_path %>

<% content_for :sidebar do %>
  <%= render "repositories_sidebar" %>
<% end %>