<h2><%= l(:label_post_receive_hook) %></h2>

<div class="box">
  <p>
    <b>Name:</b>
    <%= @post_receive_hook.name %>
  </p>
  <p>
    <b>Url:</b>
    <%= @post_receive_hook.url %>
  </p>
</div>

<%= link_to 'Edit', edit_post_receive_hook_path %>

<% content_for :sidebar do %>
  <%= render "repositories/hooks_sidebar" %>
  <%= render "repositories_sidebar" %>
<% end %>