<h1><%=l(:label_public_key)%></h1>

<dl>
  <dt><%= l(:field_public_key_comment) %>:</dt>
  <dd><%= @public_key.comment %></dd>
</dl>

<dl>
  <dt><%= l(:field_public_key_content) %></dt>
  <dd><textarea readonly="readonly"><%= @public_key.content %></textarea></dd>
</dl>

<%= link_to l(:button_back), public_keys_path %>

<% content_for :sidebar do %>
  <%= render "my_sidebar" %>
<% end %>